<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Début du menu de navigation -->
  
      <!-- Sous-menu "plat" -->
      <div class="nav-item dropdown">
        <a class= " text-success nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Plats</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-success" href="{{ path('plat_index') }}">Liste des plat</a>
          <a class="dropdown-item text-success" href="{{ path('plat_new') }}">Créer un plat</a>
        </div>
      </div>    

      <!-- Sous-menu "Catégories" -->
      <div class="nav-item dropdown">
        <a class=" text-success nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="text-success dropdown-item" href="{{ path('category_index') }}">Liste des catégories</a>
          <a class="text-success dropdown-item" href="{{ path('category_new') }}">Créer une catégorie</a>
        </div>
      </div>

  </div>
</nav>